 <h2 class="text-left p-5">Profile</h2>
 {{#each Users as |User|}}
        <div class="row row-cols-1 p-5">
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Personal Info </h5>
                  <p class="card-text">Name <br>First: </br> Last:</br></p>
                  <p>Email: </p>  
                </div>
              </div>
            </div>
        </div>
        {{/each}}

        <h2 class="text-left p-5">Recent Reviews</h2>
        {{#each Reviews as |Review|}}  
        <div class="row row-cols-1 row-cols-md-4 p-5">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{Review.restaurantName}}</h5>
                  <p class="card-text">{{Review.reviewBody}}</br></p>
                    <div class="row row-cols left">
                        <div class="col text-center">Food: <br>{{Review.foodRating}}/5 &#11088;</br></div>
                        <div class="col text-center">Location: <br>{{Review.locationRating}}/5 &#11088;</br></div>
                        <div class="col text-center">Overall Rating: <br>{{Review.overallRating}}/5 &#11088;</br></div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        {{/each}}